EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
EXPO_PUBLIC_MAPBOX_TOKEN=

# Google OAuth client IDs from Google Cloud Console
# Use iOS/Android native client IDs for dev builds/standalone apps.
# web client ID is needed for web support.
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
